/ {    combos {
        compatible = "zmk,combos";

        copy {
            bindings = <&kp LC(C)>;
            key-positions = <30 31>;
        };

        paste {
            bindings = <&kp LC(V)>;
            key-positions = <31 32>;
        };

        cut {
            bindings = <&kp LC(X)>;
            key-positions = <30 32>;
        };

        undo {
            bindings = <&kp LC(Z)>;
            key-positions = <29 30>;
        };

        ctrly {
            bindings = <&kp LC(Y)>;
            key-positions = <29 32>;
        };

        lb {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <37 38>;
        };

        rb {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <38 39>;
        };

        lplt {
            bindings = <&ssp__left_paren_lt>;
            key-positions = <23 24>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
        };

        rplt {
            bindings = <&ssp__right_paren_gt>;
            key-positions = <24 25>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
        };

        lbootloader {
            bindings = <&bootloader>;
            key-positions = <0 28>;
        };

        rbootloader {
            bindings = <&bootloader>;
            key-positions = <12 41>;
        };

        ctrl-a {
            bindings = <&kp LC(A)>;
            key-positions = <28 29>;
        };

        nav_auto_layer-combo {
            bindings = <&urob__auto_layer_nav 1>;
            key-positions = <33 18>;
        };

        num_auto_layer-combo {
            bindings = <&urob__auto_layer_num 4>;
            key-positions = <36 22>;
        };
    };    };